:root {
  --header-height: 50px;
  --footer-height: 90px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

/* UTILS */

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

/* HEADER */

header {
  background-color: black;
  height: var(--header-height);

  border: 1px dashed white;
}

/* MAIN */

main {
  background-color: black;
  width: 100%;
  overflow-y: scroll;
}

.wrapper {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  background-color: black;
  overflow: hidden;
  display: flex;
}

.card-container {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  width: calc(100% / 7 - 10px);
  min-width: 200px;
  position: relative;

  /* background-color: bisque; 
  border: 1px dashed black;*/
}

.user {
  position: absolute;
  bottom: 2px;
  left: 0;
  padding: 3px;
  background-color: gray;
  opacity: 0.8;
}

/* FOOTER */
footer {
  background-color: #222222;
  height: var(--footer-height);

  border: 1px dashed white;
}
