:root {
  --header-height: 50px;
  --footer-height: 70px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin: 5px;
}
/* UTILS */

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

/* HEADER */

header {
  background-color: black;
  min-width: 200px;
  height: var(--header-height);
  text-align: end;
  padding-top: 10px;

  /* border: 1px dashed white; */
}

header span {
  background-color: #4a4a4a;
  font-size: 1rem;
  padding: 4px;
  margin: 3px;
  margin-top: 10px;
  border-radius: 5px;
}

/* MAIN */

main {
  background-color: black;
  width: 100%;
  overflow-y: scroll;
}

.wrapper {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  background-color: black;
  overflow: hidden;
  display: flex;
}

.card-container {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  width: calc(100% / 7 - 10px);
  min-width: 200px;
  position: relative;

  /* background-color: bisque; 
  border: 1px dashed black;*/
}

.user {
  position: absolute;
  bottom: 2px;
  left: 0;
  padding: 3px;
  background-color: gray;
  opacity: 0.8;
}

/* FOOTER */
footer {
  background-color: #222222;
  height: var(--footer-height);
  display: flex;

  font-size: 2rem;
  min-width: 1200px;

  /* border: 1px dashed white; */
}

.footer-left {
  width: 15%;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  /* border: 1px dashed white; */
}

.footer-center {
  width: 70%;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 1px dashed white; */
}

.footer-right {
  width: 15%;
  height: var(--footer-height);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* border: 1px dashed white; */
}

.icon {
  font-size: 1.4rem;
  text-align: center;
}

.footer-left .icon {
  padding-left: 0;
}

.arrow {
  font-size: 0.7rem;
  vertical-align: top;
}

.icon span {
  font-size: 0.8rem;
  display: block;
  margin-top: 5px;
}

#share {
  color: green;
}

.footer-right span {
  color: red;
  font-size: 0.8rem;
  padding: 15px;
  height: var(--footer-height);
  display: flex;
  align-items: center;

  background-color: #4a4a4a;
}
